body{
    font-family:'Trebuchet MS'; 
    background-image:url("table.png");
    background-size:cover;
    text-align: center;
    color:white;
    font-size:2rem;
}

h1{
    color:goldenrod;
    font-size: 5rem;
}

button{
    font-weight:bold;
    font-size: large;
    width:15rem;
    background:goldenrod;
    color:#016f32;
    padding-top:0.4rem;
    padding-bottom: 0.4rem;
    border:none;
    border-radius: 0.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
#mess{
    font-style:italic
}
#player{
    color:cornflowerblue
}

